<%= form_with url: comments_path(id: @book.id), method: :post do |f|%>
  <% if @errors.present? %>
    <div class="alert alert-danger" role="alert">
      <%= @errors %>
    </div>
  <% end %>

  <div class="form-group" style="max-width: 80%;">
    <label for="textMessage" id="nav_item">Write comment</label>
    <%= f.text_field :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :book_id %>
  </div>
  <%= f.submit 'Send', class: 'btn btn-success', id: "send" %>
<% end %>

<style>
  #send {
    margin-top: 10px;
  }
</style>