<h1 class="text-center" id="nav_item"><%= pluralize(@books.count, 'Result') %></h1>

<% unless @books.count == 0 %>
  <div class="container mt-4">
    <table class= "table table-info">
      <thead>
        <tr>
          <th></th>
          <th><%= sort_link(@query, :title, "Title", default_order: :asc) %></th>
          <th><%= sort_link(@query, :description, "Description") %></th>
        </tr>
      </thead>

      <tbody>
        <% @books.each do |book|%>
          <tr>
            <td><%= link_to image_tag(book.avatar), book%></td>
            <td><%= book.title%></td>
            <td><%= book.description.truncate_words(75)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>