<div class="card mb-3" style="max-width: 80%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="img-fluid rounded-start"<%= image_tag @book.avatar %>>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @book.title %></h5>
        <p class="card-text"><%= @book.description %>.</p>
      </div>
    </div>
  </div>
  <% if @users_books_ids.exclude?(@book.id) %>
    <div class="add_book">
      <%= button_to 'Choose book', add_book_path(id: @book.id), method: :post, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<h3 id="nav_item">Comments:</h3>
<% @comments.each do |comment| %>
  <div id="nav_item">
    <strong><%= comment.user.first_name %> <%= comment.user.last_name %></strong>:
    <br>
    <p><%= comment.body %></p>
    <% if @user.id == comment.user_id %>
      <p><%= button_to 'Delete', comment_path(id: comment.id, book_id: @book.id),
              method: :delete, data: { confirm: 'Are you sure?' },
              class: "btn btn-danger btn-sm" %></p>
    <% end %>
  </div>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>

<style>
  .add_book {
    margin-top: 10px;
    margin-bottom: 4px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
</style>